@{
  ViewData["Title"] = "Index";

  MainTable mainTable = (MainTable)ViewData["MainTable"];


}

<!doctype html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <title>Offentlig ekonomi</title>
  


  <style>
    .myChart {
      margin: 0;
    }

    .container {
      margin: 0;
    }

    .flex-container {
      display: flex;
      flex-wrap: nowrap;

    }

    .flex-container>div {


      text-align: left !important;

    }

    .form-control {
      width: 280px;
    }

    /*----- Toggle Button -----*/
    .toggle-nav {
      display: none;
    }

    /*----- Menu -----*/

    .menu {
      width: 100%;
      padding: 10px 18px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      @*background:#303030;*@
    }


    .menu ul {
      display: inline-block;
    }

    .menu li {
      margin: 0px 50px 0px 0px;
      float: left;
      list-style: none;
      font-size: 17px;
    }

    .menu li:last-child {
      margin-right: 0px;
    }

    .menu a {
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
      color: #777;
      transition: color linear 0.15s;
    }

    .menu a:hover,
    .menu .current-item a {
      text-decoration: none;
      color: #66a992;
    }

    /*----- Responsive -----*/
    .wrap {
      width: 90%;
    }


    .search-form input {
      width: 120px;
    }


    .menu {
      position: relative;
      display: inline-block;
    }

    .menu ul.active {
      display: none;
    }

    .menu ul {
      width: 100%;
      position: absolute;
      top: 120%;
      left: 0px;
      padding: 10px 18px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      background: #303030;
    }

    .menu ul:after {
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0%;
      left: 22px;
      content: '';
      transform: translate(0%, -100%);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #303030;
    }

    .menu li {
      margin: 5px 0px 5px 0px;
      float: none;
      display: block;
    }

    .menu a {
      display: block;
    }

    .toggle-nav {
      padding: 20px;
      float: left;
      display: inline-block;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      background: #303030;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
      color: #777;
      font-size: 20px;
      transition: color linear 0.15s;
    }

    .toggle-nav:hover,
    .toggle-nav.active {
      text-decoration: none;
      color: #66a992;
    }

    .search-form {
      margin: 12px 0px 0px 20px;
      float: left;
    }

    .search-form input {
      box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    }
  </style>
</head>

<body>

  <div class="flex-container">
    <div>

<div><h1>Gör såhär:</h1>
      <p style="width:600px;">
       <p></p> 

       <ul>
  <li>Välj Kontogrupp.
Klicka på ”Lägg till” om du vill jämföra just den med andra.</li>
  <li>Annars går du vidare till nästa rad Huvudgrupp 
Klicka på ”Lägg till” om du vill jämföra just den med andra.</li>
  <li>Eller så går du vidare till rad 3, undergrupp
Gör ditt val.</li>
</ul>  
 

 

 

 
Därefter väljer du nästa utgift/omsättning att jämföra. Osv.


      </p></div>
      <div class="form-group">

        @* <label for="TopProducer"><b> Topp producent</b></label> *@
        <select class="form-control" id="TopProducerSelectList">

          <option disabled selected value=""> -- Jämför alternativ -- </option>
          @foreach (var item in mainTable.ToppProducent)
          {
            <tr>
              <option value="@item.Belopp" id="@item.ID">@item.Namn</option>
            </tr>
          }

        </select>
        <button type="button" id="AddBtnTopp" class="btn btn-success">Lägg till Kontogrupp</button>

        @* <label for="exampleFormControlSelect1"><b> Nivå 1</b></label> *@
        <select class="form-control" id="Nivå1SelectList">
          <option disabled selected value=""> -- Jämför alternativ -- </option>
          @foreach (var item in mainTable.Nivå1)
          {
            <tr>
              <option value="@item.Belopp" id="@item.ID" relatedToppid="@item.Kontogr_id" class="@item.Nivå_1">
                @item.Namn</option>
            </tr>
          }
        </select>
        <button type="button" id="AddBtnNivå1" class="btn btn-success">Lägg till Huvudkonto</button>
        @* <label for="exampleFormControlSelect1"><b> Nivå 2</b></label> *@
        <select class="form-control" id="Nivå2SelectList">
          <option disabled selected value=""> -- Jämför alternativ -- </option>
          @foreach (var item in mainTable.Nivå2)
          {
            <tr>
              <option value="@item.Belopp" id="@item.ID" relatedNivå1id="@item.Underkonto_id" class="@item.Nivå_2">
                @item.Namn</option>
            </tr>
          }
        </select>
        <button type="button" id="AddBtnNivå2" class="btn btn-success">Lägg till Underkonto</button><br>
        <button type="button" id="ClearBtn" class="btn btn-warning">Rensa allt</button>

      </div>
    </div>





    <canvas id="myChart">

    </canvas>
    <div>

      @* <nav class="menu">
        <ul class="active">
        <li class="current-item"><a href="/home/omoss">Om oss</a></li>
        <li><a href="/home/kalla">Källor</a></li>
        <li><a href="/home/definitioner">Definitioner Me</a></li>
        <li><a href="/home/bestallatjanster">Beställ tjänster</a></li>
        </ul>

        <a class="toggle-nav" href="#">&#9776;</a>
        </nav> *@
      
    </div>
    
    <div class="contaimer" style="display:flex:">
<div><h1>Om</h1>
      <p style="width:600px;">
        Det borde vara en självklarhet att det finns en överskådlig bild över svensk offentlig ekonomi. men, så är det inte. 
Stat, kommun och Regioner har var för sig sina egna ekonomier och nyckeltal som inte samkörs med varandra, förrän nu!
Med Jämförelseverktyget kan du jämföra omsättning kors och tvärs mellan olika Kontogrupper och underkonton. ex
<ul> 
  <li>
Polismyndighet med sjukpenning, </li>
  <li>
Högskolan Karlstad med Inspektionen för vård och omsorg eller omsättning alkoholinköp, fritidsartiklar, kungahuset </li>
  <li>
Elon Musks förmögenhet, eller hur hög momsen är i förhållande till ex. Äldreomsorgens utgifter! </li>




</ul>


      </p></div>
<div>
 <iframe name="f104012dd2f4b" height="320px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.10/plugins/page.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df19caa3fca5cd4%26domain%3Dwww.goddag.nu%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.goddag.nu%252Ff271d0bcdc2e0d8%26relation%3Dparent.parent&amp;container_width=303&amp;height=320&amp;hide_cover=false&amp;hide_cta=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FGodDag.nu%2F&amp;locale=sv_SE&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=500px" style="border: none; visibility: visible; width: 303px; height: 320px;" class=""></iframe>
      </div>

    </div>
    

  </div>


  </div>
  </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
  @* var el = document.getElementsByTagName("*");

    const a = ["a", "b", "c"];
    for (let index = 0; index < el.length; ++index) {
    console.log(el[index]);

    el[index].setAttribute("contenteditable","true");
    } *@


  var doughnutLabelNameArray = '';
  var doughnutValueArray = '';

  // Logic 



  // Start Initiate loaded Chart

  var ctx = document.getElementById('myChart').getContext('2d');
  // And for a doughnut chart
  var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [1],
        backgroundColor: [
          "yellow",
          "blue",
          "red",
          "orange",

          "green",

          "CornflowerBlue",
          "Cornsilk",
          "Crimson",
          "Cyan",
          "DarkBlue",
          "DarkCyan",
          "DarkGoldenRod",
          "DarkGray",
          "DarkGrey",
          "DarkGreen",
          "DarkKhaki",
          "DarkMagenta",
          "DarkOliveGreen",
          "DarkOrange",
          "DarkOrchid",
          "DarkRed",
          "DarkSalmon",
          "DarkSeaGreen",
          "DarkSlateBlue",
          "DarkSlateGray",
          "DarkSlateGrey",
          "DarkTurquoise",
          "DarkViolet",
          "DeepPink",
          "DeepSkyBlue",
          "DimGray",
          "DimGrey",
          "DodgerBlue",
          "FireBrick",
          "FloralWhite",
          "ForestGreen",
          "Fuchsia",
          "Gainsboro",
          "GhostWhite",
          "Gold",
          "GoldenRod",
          "Gray",
          "Grey",
          "Green",
          "GreenYellow",
          "HoneyDew",
          "HotPink",
          "IndianRed",
          "Indigo",
          "Ivory",
          "Khaki",
          "Lavender",
          "LavenderBlush",
          "LawnGreen",
          "LemonChiffon",
          "LightBlue",
          "LightCoral",
          "LightCyan",
          "LightGoldenRodYellow",
          "LightGray",
          "LightGrey",
          "LightGreen",
          "LightPink",
          "LightSalmon",
          "LightSeaGreen",
          "LightSkyBlue",
          "LightSlateGray",
          "LightSlateGrey",
          "LightSteelBlue",
          "LightYellow",
          "Lime",
          "LimeGreen",
          "Linen",
          "Magenta",
          "Maroon",
          "MediumAquaMarine",
          "MediumBlue",
          "MediumOrchid",
          "MediumPurple",
          "MediumSeaGreen",
          "MediumSlateBlue",
          "MediumSpringGreen",
          "MediumTurquoise",
          "MediumVioletRed",
          "MidnightBlue",
          "MintCream",
          "MistyRose",
          "Moccasin",
          "NavajoWhite",
          "Navy",
          "OldLace",
          "Olive",
          "OliveDrab",
          "Orange",
          "OrangeRed",
          "Orchid",
          "PaleGoldenRod",
          "PaleGreen",
          "PaleTurquoise",
          "PaleVioletRed",
          "PapayaWhip",
          "PeachPuff",
          "Peru",
          "Pink",
          "Plum",
          "PowderBlue",
          "Purple",
          "RebeccaPurple",
          "Red",
          "RosyBrown",
          "RoyalBlue",
          "SaddleBrown",
          "Salmon",
          "SandyBrown",
          "SeaGreen",
          "SeaShell",
          "Sienna",
          "Silver",
          "SkyBlue",
          "SlateBlue",
          "SlateGray",
          "SlateGrey",
          "Snow",
          "SpringGreen",
          "SteelBlue",
          "Tan",
          "Teal",
          "Thistle",
          "Tomato",
          "Turquoise",
          "Violet",
          "Wheat",
          "White",
          "WhiteSmoke",
          "Yellow",
          "YellowGreen"
        ],
        label: 'Dataset 1'
      }],
      labels: ['Offentlig ekonomi'


      ]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Offentlig ekonomi'
        },
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  });


  // Filter based on selected value in Topproducers

  document.getElementById("TopProducerSelectList").addEventListener("change", selectedValueChangeTop);
  document.getElementById("Nivå1SelectList").addEventListener("change", selectedValueChangeNiva1);
  @* document.getElementById.addEventListener("change", selectedValueChange); *@

    document.getElementById("AddBtnTopp").addEventListener("click", AddValueTopp);
  document.getElementById("AddBtnNivå1").addEventListener("click", AddValueNivå1);
  document.getElementById("AddBtnNivå2").addEventListener("click", AddValueNivå2);
  document.getElementById("ClearBtn").addEventListener("click", ClearValue);

  // On Change
  function selectedValueChangeTop() {


    // If related nivå1 contains selectedTopID show else hide

    var selectedTopID = $('#TopProducerSelectList').find(":selected").attr('id');


    $("#Nivå1SelectList > option").each(function () {


      if ($(this).attr('relatedToppid') == selectedTopID) {


        $(this).show();

      }
      else {
        $(this).hide();
      }

    });

    myDoughnutChart.update()
  }
  // On Change
  function selectedValueChangeNiva1() {
    // If related nivå1 contains selectedTopID show else hide

    var selectedNivå1ID = $('#Nivå1SelectList').find(":selected").attr('id');


    $("#Nivå2SelectList > option").each(function () {



      if ($(this).attr('relatedNivå1id') == selectedNivå1ID) {



        $(this).show();

      }
      else {
        $(this).hide();
      }

    });



    myDoughnutChart.update()
  }


  // On Add

  function AddValueTopp() {

    if ($('#TopProducerSelectList').find(":selected").attr('value') !== "") {

      myDoughnutChart.data.labels.push($('#TopProducerSelectList').find(":selected").text())
      myDoughnutChart.data.datasets[0].data.push(parseInt($('#TopProducerSelectList').find(":selected").attr('value') + 'Test'))

    }

          // Reset selctlists
      document.getElementById("TopProducerSelectList").selectedIndex = 0;
      document.getElementById("Nivå1SelectList").selectedIndex = 0;
      document.getElementById("Nivå2SelectList").selectedIndex = 0;

    myDoughnutChart.update()
  }

  function AddValueNivå1() {

    if ($('#Nivå1SelectList').find(":selected").attr('value') !== "") {

      myDoughnutChart.data.labels.push($('#Nivå1SelectList').find(":selected").text())
      myDoughnutChart.data.datasets[0].data.push(parseInt($('#Nivå1SelectList').find(":selected").attr('value')))
    }

      // Reset selctlists
      document.getElementById("TopProducerSelectList").selectedIndex = 0;
      document.getElementById("Nivå1SelectList").selectedIndex = 0;
      document.getElementById("Nivå2SelectList").selectedIndex = 0;
    myDoughnutChart.update()
  }

  function AddValueNivå2() {

    if ($('#Nivå2SelectList').find(":selected").attr('value') !== "") {

      myDoughnutChart.data.labels.push($('#Nivå2SelectList').find(":selected").text())
      myDoughnutChart.data.datasets[0].data.push(parseInt($('#Nivå2SelectList').find(":selected").attr('value')))

      // Reset selctlists
      document.getElementById("TopProducerSelectList").selectedIndex = 0;
      document.getElementById("Nivå1SelectList").selectedIndex = 0;
      document.getElementById("Nivå2SelectList").selectedIndex = 0;

    }

    myDoughnutChart.update()
  }



  // On Clear

  function ClearValue() {
  @* alert("Rensar värden") *@

      myDoughnutChart.data.labels =["Offentlig ekonomi"];
    myDoughnutChart.data.datasets[0].data = [0];

    myDoughnutChart.update()
  }


  jQuery(document).ready(function () {
    jQuery('.toggle-nav').click(function (e) {
      jQuery(this).toggleClass('active');
      jQuery('.menu ul').toggleClass('active');

      e.preventDefault();
    });
  });


</script>

</html>